.DS_Store
checkpoints/
results/
result/
build/
*.pth
*/*.pth
*/*/*.pth
torch.egg-info/
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
.idea
*.gv
*.png
*.sh
*.json
*.onnx
demo.py
scripts/*.sh
demo.py
# val.py
*.ipynb
*.jpg
web_results/*
./configs/*